onnxruntime==1.17.3
tiktoken
jupyterlab
ipywidgets
pymupdf
python-docx
docx
docx2txt
unstructured[docx]
pandas
openpyxl
jq
matplotlib
langchain-huggingface
sentence-transformers
scikit-learn
langchain-experimental
rank_bm25
wikipedia
pydantic
langgraph
groq
faiss-cpu
langchain-groq
chromadb
pypdf
python-dotenv
streamlit 