onnxruntime==1.17.3
tiktoken
jupyterlab
ipywidgets
pymupdf
python-docx
docx
docx2txt
unstructured[docx]
pandas
openpyxl
jq
langchain-huggingface
sentence-transformers
langchain_text_splitters
langchain-experimental
rank_bm25
wikipedia
pydantic
langgraph
groq
faiss-cpu
langchain-groq
pypdf
python-dotenv
streamlit 
langchain-tavily
langchain_ollama
tavily-python